{% extends 'pokeHTML/base.html' %}
{% load static %}
{% block pokeBlock %}
<div class="row">
    <div class="col-7 p-3 pokeList"></div>
    <div class="col-3 p-3">
        <div class="card border border-danger pokeInfo sticky-top">

        </div>
    </div>
</div>
<script>
    function getPokemon(a) {
    for (var i = 1; i <= a; i++) {
        $(".pokeList").append(`<img id="` + i + `" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/` + i + `.png" alt="Pokemon Number ` + i + `">`);
    }
}
getPokemon(200);
</script>
<script>
    $( "img" ).click(function () {
        var pokeID = $( this ).attr( "id" );
        var pokeURL = "https://pokeapi.co/api/v2/pokemon/" + pokeID; 
            $.get(pokeURL, function(pokeData) {
            var pokeString = "";
                pokeString += `<div class="card-header text-center">`
                pokeString += `<h2 style="text-transform: capitalize;">` + pokeData.species.name + `</h2>`
                pokeString += `</div>`
                pokeString += `<img src="` + pokeData.sprites.front_default + `" alt="` + pokeData.species.name + `">`
                pokeString += `<div class="card-body">`
                pokeString += `<h3>Types</h3>`
                pokeString += `<ul class="pokemonTypes">`
                for( var i = 0; i < pokeData.types.length; i++) {
                    pokeString += `<li>` + pokeData.types[i].type.name + `</li>`
                }
                pokeString += `</ul>`
                pokeString += `<h3>Height</h3>`
                pokeString += `<p>` + pokeData.height + `</p>`
                pokeString += `<h3>Weight</h3>`
                pokeString += `<p>` + pokeData.weight + `</p>`
                pokeString += `</div>`
                $( ".pokeInfo" ).html(pokeString);
            }, "json")
        })
</script>
{% endblock pokeBlock %}