{% extends 'pokeHTML/base.html' %}
{% load static %}
{% block pokeBlock %}
<div class="row">
    <div class="col-4">
        <h2>Register</h2>
    </div>
    <div class="col-4">
        <h2>Log In</h2>
    </div>
</div>
<div class="row">
    <div class="col-4 border border-dark rounded">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">User Name</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Pick a username!" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Pick a password!" required>
            </div>
            <div class="form-group">
                <label for="confirmpw">Confirm Password</label>
                <input type="password" class="form-control" id="confirmpw" name="confirmpw" placeholder="Confirm that password!" required>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up!</button>
        </form>
    </div>
    <div class="col-4 border border-dark rounded">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">User Name</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username!" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password!" required>
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>
        </form>
    </div>
</div>
{% endblock pokeBlock %}